* {
    margin: 0%;
    padding: 0%;
}

#nav {
    background-color: aquamarine;
}

.navbar {
    list-style-type: none;
}

.nav-list {
    display: inline;
    font-size: 30px;
}

.nav-item {
    color: chocolate;
    text-decoration: none;
}

.nav-item:hover {
    color: darkslateblue;
}

#heading {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(211, 0, 0);
    background-color: green;
}

.mar {
    color: greenyellow;
    font-size: 24px;
}

.img-mar {
    border: 2px dotted brown;
}

.sec,
.para {
    display: inline;
    width: 25%;
}